.Lista {
  display: grid;
  grid-template-columns:  repeat(auto-fill ,minmax( 500px , 1fr ));
  gap: 20px;
  justify-items: center;
  
  

}


.card {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center ;
  border: 1px double black;
  border-radius: 7px;
  padding: 10px 20px;
  background-color: rgba(41, 41, 41, 0.412);
  flex-direction: column;
  

}
.card img {
  
width: 100%;

 
}
.card h5 {
  color: rgba(230, 12, 12, 0.795);
  text-align: center;
}
.card h1 {
  text-align: center;
}